
@active_row: #fcfed5;

body {
	font-family: 'Arial', sans-serif;
	border-top: 5px solid #000000;
	padding: 0;
	margin: 0;
	background: url('img/body_bg.png') repeat-x;
	background-size: contain;
	height: 100%;
}

.hide {
	visibility: hidden;
}

.show {
	visibility: visible;
}

header {
	text-transform: uppercase;
	margin-top: 60px;
	h1, p {
		text-align: center;
		margin: 0;
	}

}

section {
	width: 700px;
	margin: 60px auto 0;
	.header {
		height: 50px;
		background: url('img/section_header_bg.png') repeat-x;
		border: 1px solid #315589;
		h4 {
			float: left;
			margin: 0px;
			line-height: 50px;
			vertical-align: middle;
			background: url('img/section_icon.png') no-repeat 17px;
			color: #ffffff;
			padding-left: 53px;
			text-shadow: 0 0 1px #000000;
		}
		ul {
			float: right;
			margin-right: 20px;
			margin-bottom: 10px;
			li {
				display: inline-block;
				list-style: none;
				width: 20px;
				height: 20px;
				padding: 0 5px;
				background-repeat: no-repeat;
				background-position: center;
				a {
					display:block;
					width: 20px;
					height: 20px;
				}
			}
			li:first-child{
				background: url('img/section_edit.png') no-repeat;
				border-right: 1px solid #5284bf;
			}
			li:last-child{
				background: url('img/section_delete.png') no-repeat center;
			}
		}
	}
	table {
		clear: both;
		border-collapse: collapse;
		width: 100%;
		height: 100%;
		border-left: 2px solid #abafa2 !important;
		border-right: 2px solid #abafa2 !important;
		tr {

			height: 50px;
			background:#d1d1d1;
			th:first-child {
				width: 45px;
				.plus_green {
					width: 50px;
					height: 50px;
					background: url('img/plus_green_icon.png') no-repeat center;
				}
			}
			th:nth-child(2) {
				width: 535px;
				text-align:right;
				overflow: hidden;
				form {
					input {
						border-top: 2px solid #707070;
						line-height: 23px;
						width: 100%;
						padding-left: 10px;
						color: #d0d0d0;
					}
				}
			}
			th:last-child {
				width: 120px;
				div {
					a {
						display: block;
						text-decoration: none;
						color: #ffffff;
						background: url('img/section_nav_btn_bg.png') repeat-x center;
						padding: 4px 5px;
						margin-right: 10px;
						border: 1px solid #447557;
						border-top-right-radius: 5px;
						border-bottom-right-radius: 5px;
						text-shadow: 0 1px 1px #000000;
					}
				}
			}
		}
		tr {
			td {
			border: 1px solid #e7ebea;
			background: #ffffff;
			height: 50px;
			}
			td:first-child {
				text-align: center;
				padding-left: 5px;
			}
			td:nth-child(3) {
				font-size: 14px;
				padding-left: 15px;
			}
		}
		tr:hover {
			cursor: pointer;
			td {
				background: @active_row;
			}	
			.buttons ul{
				.show;
			}
		}
	}
}

.checkbox {
	width: 40px
}
.space {
	width: 5px;
}
.name {
	width: 535px;
}
.buttons {
	width: 120px;
	text-align: center;
	ul {
		font-size: 0;
		display: inline-block;
		padding: 0px;
		margin:0px;

		li {
			display: inline-block;
			list-style: none;
			padding: 0 10px;
			border-right: 1px solid #cccccc;
			a {
				display: block;
				width: 12px;
				height: 13px;
				background-color: red;
				background-image: url('img/buttons_icon.png');
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		li:first-child {
			padding-left: 0px;
			a {
				background-position: 0 0;
			}
		}
		li:last-child {
			padding-right: 0px;
			border-right: none;
			a {
				background-position: 100% 100%;
			}
		}
	}
}

.table_bottom {
	border: 1px solid #e7ebea;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	height: 15px;
	width: 698px;
	background: #ffffff;
}

footer {
	text-align: center;
	margin-top: 50px;
	border-bottom: 5px solid #000000;
	button {
		cursor: pointer;
		width: 212px;
		height: 48px;
		background: url('img/plus_blue_icon.png') no-repeat 10px,
					url('img/btn_blue_bg.png') repeat-x center;
		border: 1px solid #315589;
		border-radius: 2px;
		color: #ffffff;
		font-weight: bold;
		font-size: 1.1em;
	}
	p {
		color: #ffffff;
		margin:30px 0 20px;
	}
}